:root{
    --green:#a235b0af;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#3b0d36;
    --light-color:#3f7122;
    --white:#fff;
    --light-bg:#78d9e0;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    color:var(--black);
}

*::selection{
    background-color: var(--green);
    color:var(--white);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}
 
*::-webkit-scrollbar-thumb{
    background-color: var(--green);
}

body {
    background-color: var(--light-bg);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2; 
    z-index: -1;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
 }
 section{
    padding:3rem 2rem;
    max-width: 1200px;
    margin:0 auto;
 }

    /* FORM LOGIN */
 
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form-container form{
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    padding:2rem;
 }
 
 .form-container form h3{
    font-size: 3rem;
    color:var(--black);
    margin-bottom: 1rem;
    text-transform: uppercase;
 }
 
 .form-container form .box{
    width: 100%;
    margin:1rem 0;
    border-radius: .5rem;
    border:var(--border);
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    background-color:#ffffffd3;
 }
 
 .form-container form p{
    margin-top: 2rem;
    font-size: 2.2rem;
    color:var(--light-color);
 }
 
 .form-container form p a{
    color:var(--green);
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 }

 .btn{
    background-color: var(--green);
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    color:var(--white);
    font-size: 2rem;
    padding:1.3rem 3rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
 }

/* HOME PAGE */

.home-bg{
    background: url(../Traditional-Arts-and-Crafts-Website/images/homebg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg .home{
    display: flex;
    align-items: center;
    min-height: 60vh;
 }
 
 .home-bg .home .content{
    width: 50rem;
 }
 
 .home-bg .home .content span{
    color:var(--orange);
    font-size: 2.5rem;
 }
 
 .home-bg .home .content h3{
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    color:var(--black);
 }
 
 .home-bg .home .content p{
    font-size: 1.6rem;
    padding:1rem 0;
    line-height: 2;
    color:var(--light-color);
 }
 
 .home-bg .home .content a{
    display: inline-block;
    width: auto;
 }